<h1>Productos</h1>

<%= form_with model: @filter, url: products_path, local: true, method: :get do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <%= f.button %>
<% end %>

<%= render TableComponent, data: @table %>

<br>

<%= link_to 'New Product', new_product_path %>
